
/*******************
 * General
 *******************/

section {
	margin: 0 0 80px;
}


/*******************
 * Lists
 *******************/

.list-reset {

}

.list-reset li {

}

.list-vertical {

}

.list-vertical li {
	
}

/*******************
 * Links
 *******************/

a {
  text-decoration: underline;
}

a:hover,
a:focus {

}

a:active {

}